@model ninja.Models.ViewModelIndex

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateInvoice")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model =>Model.invoices.FirstOrDefault().Type)
        </th>
        <th></th>
    </tr>

 

    @foreach (var item in Model.invoices) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
